---
import H1 from "./style/H1.astro";
import { Image } from "astro:assets";
import Modal from "./PopUp.astro";
import Button from "./style/Button.astro";

const {
  title,
  contentFeat,
  content,
  imagePath,
  button,
  url,
  modal,
  modalName,
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<section class="py-8">
  <div class="px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <H1 title={title} />
    <p class="mb-8 text-lg font-normal text-black lg:text-xl sm:px-16 xl:px-48">
      <span
        class="underline underline-offset-3 decoration-8 decoration-lime-400"
        >{contentFeat}</span
      >
      {content}
    </p>
    <div
      class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      {
        modal == "si" ? (
          <>
            <div class="text-center">
              <Button
                text={button}
                modalTarget={modalName}
                modalToggle={modalName}
                type="submit"
                icon="arrow"
              />
            </div>
            <Modal name="contact" />
          </>
        ) : (
          <a target="_blank" href={url}>
            <Button text={button} icon="arrow" />
          </a>
        )
      }
    </div>
    <div
      class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36"
    >
      <div>
        <Image
          class="flex mx-auto rounded-lg"
          src={images[imagePath]()}
          alt=""
        />
      </div>
    </div>
  </div>
</section>

